
.headerVD video{
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.welcome-msg{
  z-index: 10;
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  border-width: 1;
  text-decoration: black;
  font-family: inherit;
}
.location-input-container{
  width: 200px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-inputs{
  display: flex;
  flex-direction: row;
}
.coordinates-container{
  height: 100px;
  width: 440px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: row;
  text-align: right;
  color: white;
  position: relative;
}
.user-coordinates, .iss-coordinates, .distance{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  position: relative;
  color: aqua;
}
#submit-location{
  width: 120px;
  margin-top: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  z-index: 10;
}
b{
  border-style: double;
  border-color: rgb(255, 255, 255);
}

#my{
  zoom: 150%;
  }

.Const{
  position: center;
  color: red;
}
